.cookies-policy-container {
  background-color: var(--section-color);
  padding: 0px 0px 50px;

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(45deg, #912583 0%, #e94057 50%, #f27022 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;

    // Responsive design
    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    background: linear-gradient(45deg, #912583 0%, #e94057 50%, #f27022 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;

    // Responsive design
    @media screen and (max-width: 768px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--white-color);
    a {
      color: #f27022;
    }

    span {
      background: linear-gradient(180deg, #912583 0%, #e94057 50%, #f27022 100%);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    // Responsive design
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 10px;
    background: linear-gradient(45deg, #912583 0%, #e94057 50%, #f27022 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
    margin: 1.5rem 0px 0.5rem;

    // Responsive design
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  ul {
    padding: 0px 1rem;

    li {
      margin-bottom: 1rem;
      font-size: 18px;
      color: var(--second-font-color);
      line-height: 1.6;
      strong {
    color: var(--white-color);

      }
    }
  }
}
